.marge{
    height: 100px;
}

.center{
    text-align: center;
    padding-bottom: 50px;
}

.padding{
    padding-left: 60px; 
}

.titre_page{
    color: black;
    font-size: 30px;
    text-align: center;
    margin-bottom: 50px;
}