<!-- <agm-map [latitude]="lat" [longitude]="lng">
  <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>
</agm-map> -->

<div class="container-fluid" style="background:#383838;">
  <div class="row">

    <div class="col-8 floatL">
      <div class="marge"></div>
      <div class="item">
        <div class="half-div">
          <span class="title">{{curAsso.libelle}}</span>
          <div class="contact">SIRET : {{curAsso.siret}} / Effectifs : {{curAsso.tailleOrganisme}}</div>
          <div class="contact">{{curAsso.tel}} / {{curAsso.mail}}</div>
        </div>
        <div class="half-div">
          <div class="floatR">
            //IMG


          </div>
        </div>
        <div class="full-div">{{curAsso.desc}}</div>

      </div>
      <div class="col-4 floatL">
        cocou

      </div>

    </div>


  </div>
</div>