<div class="container-fluid" style="background:#383838;">
  <div class="row">

    <div class="div_10"></div>

    <div class="div_80" style="border : 1px solid white">
      <div class="marge"></div>
      <div *ngIf="isEmpty == true" class="titre_page"> Aucune Association</div>
      <div *ngIf="isEmpty == false" class="titre_page"> Nos Associations Partenaires</div>
      <div class="item" *ngFor="let item of listeAssos">


          <div class="third-div">
            <img *ngIf="imageToShow[item.Utilisateur_id]" [src]="imageToShow[item.Utilisateur_id]" width="150px" />
          </div>
          <div class="third-div">
            <span class="title">{{item.Libelle}}</span>
            <div class="contact">Contact : <b>{{item.tel}} <p> {{item.mail}}</p></b></div>
          </div>
          <div class="third-div">
            <div class="floatR">
              <div class="contact">SIRET : <b>{{item.siret}}</b>
                <p> Effectifs : <b>{{item.tailleOrganisme}}</b></p>
              </div>

            </div>
          </div>

        <div class="full" >
            {{item.desc}}
          
        </div>

        <div *ngIf="don == true">
            <button class="btn btn-primary" style="margin: 10px;" (click)="donAsso(item.Utilisateur_id)">Faire un Don</button>
        </div>

      </div>


    </div>
    <div class="div_10"></div>


  </div>
</div>