<div class="container-fluid" style="background:#383838;">
  <div class="row">
    <div class="div_10"></div>

    <div class="div_80">
      <div class="marge"></div>

      <div class="titre_page">Historique de mes commandes</div>

      <div *ngIf="commandes == undefined" class="alert alert-secondary text-center">Vous n'avez effectué aucune commande !</div>




      <div class="item" *ngFor="let item of commandes;">
        <div class="third-div">
          <span class="title">Commande du {{item.date | date}}</span>
        </div>
        <div class="third-div">
          <ul>
            <li *ngFor="let p of item.produits"> {{p.libelle}} {{p.prix}}€ <b> x {{p.quantite}}</b></li>
          </ul>

        </div>
        <div class="third-div">
          <div class="floatR">

            <div class="full-div">
              <p class="prix">Total {{item.total}}€</p>
              <input type="button" class="btn" value="Télécharger ma facture" (click)="downloadPDF(item.id)">
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="marge"></div>
    <div class="div_10"></div>
  </div>
</div>