<div class="container-fluid" style="background:#383838;">
  <div class="row">
    <div class="col"></div>
    <div *ngIf="produit" class="col-6"  style="background:white; ">

      <div class="marge"></div>
      <div class="titre">{{produit.libelle}}</div>

      <div class="row">
        <div class="col">
          <img *ngIf="imageToShow" [src]="imageToShow" width="150">
        </div>
        <div class="col">
          <div class="desc">
            {{produit.desc}}
          </div>
        </div>
        <div class="col"></div>

      </div>

      <div class="row" style="margin:20px;">
        <div class="col" style="color:red;">
            {{produit.prix}} €
        </div>
        <div class="col">
            <p>Quantitée restante</p>
            {{produit.quantite}}
        </div>
        <div class="col">
            <p>Date Limite de Consomation</p>
            {{produit.dlc | date}}
        </div>
        <div class="col codeBarre">
            <p>Code Barre</p>
            {{produit.codeBarre}}
        </div>

      </div>
      




    </div>
    <div class="col"></div>
  </div>
</div>