.titre_page{
    color: black;
    font-size: 30px;
    text-align: center;
    padding-left: 50px;
    margin-bottom: 50px;
}

.marge{
    height: 150px;
}

.marge_50{
    height: 50px;
}

.titre{
    font-size:25px;
    text-align: center;
}

.desc{
    margin-top: 20px;
    border : 1px solid lightgray;
    padding: 20px;
    height: 100px;
    width: 500px;
}

.codeBarre{
    color: grey;
    font-style: italic;
}