<div class="container-fluid" style="background:#383838;">
  <div class="row">
    <div class="col"></div>
    <div class="col" style="background: white;">
      <div class="marge"></div>
      <div class="titre">Modification de mes informations</div>
      <form #modifProfil="ngForm" class="text-left" (ngSubmit)="onSubmit()" novalidate class="text-left">

        <div class="form-group">
          <label for="libelleLabel">Libelle*</label>
          <input #libelle="ngModel" [class.is-invalid]="libelle.invalid && libelle.touched" required
            [(ngModel)]="userModel.libelle" type="text" class="form-control" name="libelle" placeholder="Libelle">
        </div>
        <div class="form-group">
          <label for="emailAssoLabel">Email*</label>
          <input #mailAsso="ngModel" [class.is-invalid]="mailAsso.invalid && mailAsso.touched" required
            [(ngModel)]="userModel.mail" type="email" class="form-control" name="email" placeholder="name@example.com">
        </div>
        <div class="form-group">
          <label for="telLabel">Telephone</label>
          <input #tel="ngModel" [class.is-invalid]="tel.invalid && tel.touched" [(ngModel)]="userModel.tel" type="text"
            class="form-control" name="tel" placeholder="n° téléphone">
        </div>
        <div class="form-group">
          <label for="adresseLabel">Adresse*</label>
          <input #adresse="ngModel" [class.is-invalid]="adresse.invalid && adresse.touched" required
            [(ngModel)]="userModel.adresse" type="text" class="form-control" name="adresse"
            placeholder="12 Avenue des Champs Elysées">
        </div>
        <div class="form-group">
          <label for="cpLabel">Code Postal*</label>
          <input #cp="ngModel" [class.is-invalid]="cp.invalid && cp.touched" required [(ngModel)]="userModel.codePostal"
            type="text" class="form-control" name="cp" placeholder="75008">
        </div>

        <div class="form-group">
          <label for="villeLabel">Ville*</label>
          <input #ville="ngModel" [class.is-invalid]="ville.invalid && ville.touched" required
            [(ngModel)]="userModel.ville" type="text" class="form-control" name="ville" placeholder="Paris">
        </div>
        <div class="form-group">
          <label for="mdpLabel">Pseudo*</label>
          <input #pseudo="ngModel" [class.is-invalid]="pseudo.invalid && pseudo.touched" required
            [(ngModel)]="userModel.pseudo" type="text" class="form-control" name="pseudo" placeholder="">
        </div>

        <div class="form-group">
          <label for="mdpLabel">Mot de passe*</label>
          <input #mot_de_passe="ngModel" [class.is-invalid]="mot_de_passe.invalid && mot_de_passe.touched" required
            (ngModel)="userModel.mdp" type="password" class="form-control" name="mot_de_passe" placeholder="">
        </div>


        <div class="form-group">
          <label for="siretLabel">Siret*</label>
          <input #siret="ngModel" [class.is-invalid]="siret.invalid && siret.touched" required
            [(ngModel)]="userModel.siret" type="text" class="form-control" name="siret" placeholder="">
        </div>
        <div class="form-group">
          <label for="tailleOrganismeLabel">Taille de l'organisme*</label>
          <input #tailleOrganisme="ngModel" [class.is-invalid]="tailleOrganisme.invalid && tailleOrganisme.touched"
            required [(ngModel)]="userModel.tailleOrganisme" type="text" class="form-control" name="tailleOrganisme"
            placeholder="Nombre d'effectifs">
        </div>
        <div class="form-group">
          <label for="descriptionLabel">Description*</label>
          <textarea #description="ngModel" [class.is-invalid]="description.invalid && description.touched" required
            [(ngModel)]="userModel.description" class="form-control" name="description"
            placeholder="Decrivez-vous..."></textarea>
        </div>




        <button [disabled]="modifProfil.form.invalid" type="submit" class="btn float-right text-white"
          style="background:#3db4b4;">Valider</button>

      </form>

      <a  [routerLink]="['/modif-photo-asso']">Modifier ma photo</a>
      <div class="marge"></div>
    </div>
    <div class="col"></div>
  </div>
</div>