<div class="container-fluid" style="background:#383838;">
  <div class="row">

    <div class="col"></div>

    <div class="col-6">
      <div class="marge"></div>
      <div class="titre_page">Contactez-Nous ! </div>
      <div class="item">

          <form #connexionForm="ngForm" class="text-left" (ngSubmit)="onSubmit()" novalidate>


              <div class="form-group">
                  <label for="sujet">Sujet</label>
                  <input  #sujet="ngModel" [class.is-invalid]="mail.invalid && mail.touched" required [(ngModel)]="userModel.mail" type="email" class="form-control" name="mail" placeholder="email@outlook.fr">
              </div>
  
              <div class="form-group">
                  <label for="mdpLabel">Description</label>
                  <input  #mdp="ngModel" [class.is-invalid]="mdp.invalid && mdp.touched" required [(ngModel)]="userModel.mdp" type="password" class="form-control" name="mdp" >
              </div>
  
  
              <button [disabled]="connexionForm.form.invalid" type="submit" class="btn float-right text-white" style="background: #3db4b4;" >Valider</button>
              <a [routerLink]="['/home']">Vous n'êtes pas encore inscrit?</a>
              <div class="marge_50"></div>
          </form>


      </div>


    </div>
    <div class="col"></div>
  </div>
</div>