<div class="container-fluid" style="background:#383838;">
  <div class="row">

    <div class="left75">
      <div class="marge"></div>

      <h1>Boutique WasteMart</h1>


      <div class="full div_filtre">

        <div class="third-div">

          <p>Mot clé </p>
          <input class="btn" id="motCle" type="text" value="" (keyup)="motCleChange($event)" />

        </div>

        <div class="third-div">
          <p>Prix </p>
          <input type="radio" (change)="prixChange($event.target.value)" value="0" name="prix"> Aucun <br/>
          <input type="radio" (change)="prixChange($event.target.value)" value="1" name="prix"> - de 5  € <br/>
          <input type="radio" (change)="prixChange($event.target.value)" value="2" name="prix"> 5 - 10  € <br/>
          <input type="radio" (change)="prixChange($event.target.value)" value="3" name="prix"> 10 - 15  € <br/>
          <input type="radio" (change)="prixChange($event.target.value)" value="4" name="prix"> + de 15  € 

        </div>

        <div class="third-div">
          <p>Catégorie</p>
          <Select class="btn" (change)="categorieChange($event.target.value)">
            <option value="" selected></option>
            <option *ngFor="let o of optionSelect" value="{{o.id}}" id="{{o.id}}">{{o.libelle}}</option>
          </Select>
        </div>
        <input type="submit" class="btn_panier floatR" (click)="ngOnInit()" value="Réinitialiser">

        <input type="submit" class="btn_panier floatR" (click)="appliqFiltre()" value="Appliquer">
        

      </div>


      <div *ngIf="produits == null" class="text-center">

        Aucun produit ne correspond à votre recherche ! 
      </div>



      <div class="item"  *ngFor="let item of produits;">
        <div class="row" style="min-height: 150px;">
          <div class="half_div">
            <img *ngIf="imageToShow[item.id]" class="img_item" [src]="imageToShow[item.id]" width="100px" />

          </div>
          <div class="half_div">
            <span class="title_product">{{item.libelle}}</span>

          </div>
        </div>
        <div class="row">
          <div class="half_div date">
            <p>Date limite de consomation:</p> {{item.dlc | date}}
          </div>
          <div class="half_div ">
            <p class="prix floatR">{{item.prix}}€</p>
            <button class="btn_panier" (click)="addPanier(item)">
              <img src="../../../../assets/images/shopping_basket.svg">
            </button>
            <button class="btn_panier" [routerLink]="['detail-produit']" [queryParams]="{id: item.id}">
              <img src="../../../../assets/images/points.svg">
            </button>
          </div>
        </div>



      </div>


    </div>
    <div class="marge"></div>
    <div class="col-4">

      <div class="panier">

        <span class="title ">Mon Panier</span>


        <div class="item-panier" *ngFor="let p of parsedPanier">

          {{p.libelle}}<br/>


          <select selected="p.nb" (change)="updateQuantite(p.id, $event.target.value)">
            <option *ngFor="let i of counter(p.quantite)" [selected]="i == p.nb" value="{{i}}">{{i}}</option>
          </select>
          <button class="btn_panier floatR" (click)="deletePanier(p.id)">
            <img src="../../../../assets/images/clear.svg">
          </button>
          <div class="floatR prix-panier">
            {{p.prix * p.nb}}€
          </div>
        </div>

        <div *ngIf="totalPanier == 0">
          Votre panier est vide !
        </div>
        
        <div *ngIf="totalPanier != 0">
          <hr>
          TOTAL : <div class="floatR">{{totalPanier}} €</div>
          <div class="div-button-panier"><input type="button" [routerLink]="['/login']" class="btn button-panier"
              value="Valider mon panier"></div>

        </div>


      </div>
    </div>


  </div>
</div>