<div class="container-fluid" style="background:#383838;">
  <div class="row">

    <div class="div_10"></div>
    <div class="div_80">
      <div class="marge"></div>
      <input type="button" class="btn btn-danger" [routerLink]="['/gestion-produit']" value="Retour">


      <div class="titre_page"> Ajouter un produit</div>



      <form #inscriptionParticulier="ngForm" class="text-left" (ngSubmit)="onSubmit()" novalidate class="text-left">




        <div class="form-group">
          <label for="nomLabel">Nom*</label>
          <input #nom="ngModel" [class.is-invalid]="nom.invalid && nom.touched" required [(ngModel)]="userModel.nom"
            type="text" class="form-control" name="nom" placeholder="Nom">
        </div>

        <div class="form-group">
          <label for="prenomLabel">Prenom*</label>
          <input #prenom="ngModel" [class.is-invalid]="prenom.invalid && prenom.touched" required
            [(ngModel)]="userModel.prenom" type="text" class="form-control" name="prenom" placeholder="Prenom">
        </div>

        <div class="form-group">
          <label for="dateNaissance">Date de naissance*</label>
          <input #dateNaissance="ngModel" [class.is-invalid]="dateNaissance.invalid && dateNaissance.touched" required
            [(ngModel)]="userModel.dateDeNaissance" type="date" class="form-control" name="dateNaissance">
        </div>

        <div class="form-group">
          <label for="emailLabel">Email*</label>
          <input #mail="ngModel" [class.is-invalid]="mail.invalid && mail.touched" required [(ngModel)]="userModel.mail"
            type="email" class="form-control" name="email" placeholder="name@example.com">
        </div>
        <div class="form-group">
          <label for="telLabel">Telephone</label>
          <input #tel="ngModel" [class.is-invalid]="tel.invalid && tel.touched" [(ngModel)]="userModel.tel" type="text"
            class="form-control" name="tel" placeholder="n° téléphone">
        </div>
        <div class="form-group">
          <label for="adresseLabel">Adresse*</label>
          <input #adresse="ngModel" [class.is-invalid]="adresse.invalid && adresse.touched" required
            [(ngModel)]="userModel.adresse" type="text" class="form-control" name="adresse"
            placeholder="12 Avenue des Champs Elysées">
        </div>
        <div class="form-group">
          <label for="cpLabel">Code Postal*</label>
          <input #cp="ngModel" [class.is-invalid]="cp.invalid && cp.touched" required [(ngModel)]="userModel.codePostal"
            type="text" class="form-control" name="cp" placeholder="75008">
        </div>

        <div class="form-group">
          <label for="villeLabel">Ville*</label>
          <input #ville="ngModel" [class.is-invalid]="ville.invalid && ville.touched" required
            [(ngModel)]="userModel.ville" type="text" class="form-control" name="ville" placeholder="Paris">
        </div>
        <div class="form-group">
          <label for="pseudoLabel">Pseudo*</label>
          <input #pseudo="ngModel" [class.is-invalid]="pseudo.invalid && pseudo.touched" required
            [(ngModel)]="userModel.pseudo" type="text" class="form-control" name="pseudo" placeholder="">
        </div>

        <div class="form-group">
          <label for="mdpLabel">Mot de passe*</label>
          <input #mot_de_passe="ngModel" [class.is-invalid]="mot_de_passe.invalid && mot_de_passe.touched" required
            [(ngModel)]="userModel.mdp" type="password" class="form-control" name="mot_de_passe" placeholder="">
        </div>

        <div class="form-group">
          <label for="estValideLabel">Est Valide*</label>
          <select #estValide="ngModel" [class.is-invalid]="estValide.invalid && estValide.touched" required
            [(ngModel)]="userModel.estValide" class="form-control" name="estValide">

            <option value="1">Oui</option>
            <option value="0">Non</option>

          </select>
        </div>

        <button [disabled]="inscriptionParticulier.form.invalid" type="submit" class="btn float-right text-white"
          style="background:#3db4b4;">Valider</button>
      </form>


    </div>

    <div class="div_10"></div>
  </div>

  <div class="marge"></div>
</div>