.marge{
    height: 150px;
}

.marge_50{
    height: 50px;
}

input{
    margin: 10px;
}

.titre_page{
    color: black;
    font-size: 30px;
    text-align: center;
    padding-left: 50px;
    margin-bottom: 50px;
}