<div class="container-fluid" style="background:#383838;">
    <div class="row">
        <div class="col">
            <div class="marge"></div>
            <img [src]="imageToShow" width="500px" />
        </div>
        <div class="col-6" style="background:white; ">
            <div class="marge"></div>

            <form #addDon="ngForm" class="text-left" (ngSubmit)="onSubmit()" novalidate class="text-left">
                <h3 class="text-center">Mes informations de payement </h3>

                <div *ngIf="errorConnection" class="alert alert-danger">
                    {{errorConnection}}
                </div>

                <div class="form-group">
                    Montant de mon don
                    <input class="floatR" #montant="ngModel" [class.is-invalid]="montant.invalid && montant.touched"
                        required type="number" class="form-control" name="montant"
                        [(ngModel)]="payementModel.montant" />
                </div>

                <div class="form-group">
                    Numéro de carte
                    <input class="floatR" #numero="ngModel" [class.is-invalid]="numero.invalid && numero.touched"
                        required type="number" class="form-control" name="numero" [(ngModel)]="payementModel.numero" />
                </div>

                <div class="form-group">
                    Titulaire de la carte
                    <input class="floatR" #titulaire="ngModel"
                        [class.is-invalid]="titulaire.invalid && titulaire.touched" required type="text"
                        class="form-control" name="titulaire" [(ngModel)]="payementModel.titulaire" />
                </div>

                <div class="form-group">
                    Cryptogramme
                    <input class="floatR" #crypto="ngModel" [class.is-invalid]="crypto.invalid && crypto.touched"
                        required type="number" class="form-control" name="crypto"
                        [(ngModel)]="payementModel.cryptogramme" />
                </div>


                <h5>Adresse de facturation</h5>

                <div class="form-group">
                    N° et rue
                    <input class="floatR" #adresse_facturation="ngModel"
                        [class.is-invalid]="adresse_facturation.invalid && adresse_facturation.touched" required
                        type="text" class="form-control" name="adresse_facturation"
                        [(ngModel)]="payementModel.adresse_facturation" />
                </div>

                <div class="form-group">
                    Ville
                    <input class="floatR" #ville_facturation="ngModel"
                        [class.is-invalid]="ville_facturation.invalid && ville_facturation.touched" required type="text"
                        class="form-control" name="ville_facturation" [(ngModel)]="payementModel.ville_facturation" />
                </div>

                <div class="form-group">
                    Code Postal
                    <input class="floatR" #cp_facturation="ngModel"
                        [class.is-invalid]="cp_facturation.invalid && cp_facturation.touched" required type="text"
                        class="form-control" name="cp_facturation" [(ngModel)]="payementModel.cp_facturation" />
                </div>

                <button [disabled]="addDon.form.invalid" type="submit" class="btn float-right text-white"
                    style="background:#3db4b4;">Valider</button>
            </form>


            <div class="marge"></div>


            <div class="col"></div>
        </div>
    </div>