<div class="marge"></div>
<button class="btn add" [routerLink]="['add']">
  <img src="../../../../assets/images/add.svg"> Ajouter une alerte
</button>
<table class="table">
  <thead>
    <tr>
      <th scope="col">Libelle</th>
      <th scope="col">Date</th>
      <th scope="col ">Action</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of alerts">
      <td>{{item.libelle}}</td>
      <td>{{item.date | date}}</td>
      <td>
        <button class="btn_panier" (click)="deleteAlert(item.id)">
          <img src="../../../../assets/images/clear.svg">
        </button></td>
    </tr>
  </tbody>
</table>